# Node modules
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
out/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*.local

# Electron cache
.cache/
electron-builder.yaml

# Yarn Plug'n'Play
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions